body {
    font-family: 'Bebas Neue', cursive;
    color: white;

}

.navyblue {
    background-color: #171B60 ;
    color: white;
}

.red {
    background-color: #9C0B0B;
}

.beige {
    background-color: #958181 ;
}